apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: prod-web
spec:
  gatewayClassName: istio
  listeners:
  - name: https
    protocol: HTTPS
    port: 443
    tls:
      mode: Terminate
      certificateRefs:
      - kind: Secret
        name: nginx-service-tls
  - name: http
    protocol: HTTP
    port: 80
    allowedRoutes:
      namespaces:
        from: All
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: app-route
spec:
  parentRefs:
  - name: prod-web
  hostnames:
  - prometheus.deviantlab.duckdns.org
  rules:
  - backendRefs:
    - name: nginx-service
      namespace: default
      port: 80
---
# For cert-manager to generate certs Certificate resource is required.
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: nginx-service-tls
  namespace: default
spec:
  secretName: nginx-service-tls       # Secret that Istio will reference
  issuerRef:
    name: letsencrypt-prod        # Your ClusterIssuer
    kind: ClusterIssuer
  dnsNames:
  - prometheus.deviantlab.duckdns.org