---
- name: Add Jetstack Helm repository
  kubernetes.core.helm_repository:
    name: jetstack
    repo_url: https://charts.jetstack.io

- name: Create cert-manager namespace
  vars:
    ansible_python_interpreter: /opt/k8s_venv/bin/python
  kubernetes.core.k8s:
    kubeconfig: "{{ kubeconfig_path }}"
    api_version: v1
    kind: Namespace
    name: cert-manager
    state: present

- name: Install Cert-Manager
  kubernetes.core.helm:
    state: present
    name: cert-manager
    kubeconfig: "{{ kubeconfig_path }}"
    chart_ref: jetstack/cert-manager
    release_namespace: cert-manager
    create_namespace: false
    # chart_version: v1.14.4   # Use latest version or specify as needed
    values:
      config:
        apiVersion: controller.config.cert-manager.io/v1alpha1
        kind: ControllerConfiguration
        enableGatewayAPI: true
      crds:
        enabled: true

- name: Configure Let's Encrypt Issuer - Staging
  vars:
    ansible_python_interpreter: /opt/k8s_venv/bin/python
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: letsencrypt-staging
      spec:
        acme:
          # The ACME server URL
          server: https://acme-staging-v02.api.letsencrypt.org/directory
          # Email address used for ACME registration
          email: angelopaolosantos@gmail.com
          # Name of a secret used to store the ACME account private key
          privateKeySecretRef:
            name: letsencrypt-staging-key
          # Enable the HTTP-01 challenge provider
          solvers:
            - http01:
                gatewayHTTPRoute:
                  parentRefs:
                    - name: prod-web
                      namespace: default
                      kind: Gateway

- name: Configure Let's Encrypt Issuer - Production
  vars:
    ansible_python_interpreter: /opt/k8s_venv/bin/python
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig_path }}"
    definition:
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: letsencrypt-prod
      spec:
        acme:
          # The ACME server URL
          server: https://acme-v02.api.letsencrypt.org/directory
          # Email address used for ACME registration
          email: angelopaolosantos@gmail.com
          # Name of a secret used to store the ACME account private key
          privateKeySecretRef:
            name: letsencrypt-prod-key
          # Enable the HTTP-01 challenge provider
          solvers:
            - http01:
                gatewayHTTPRoute:
                  parentRefs:
                    - name: prod-web
                      namespace: default
                      kind: Gateway
                      group: gateway.networking.k8s.io
