---
- name: Add cilium helm chart repo
  kubernetes.core.helm_repository:
    name: cilium
    repo_url: "https://helm.cilium.io/"

- name: Deploy the Helm chart from OCI
  kubernetes.core.helm:
    kubeconfig: "{{ kubeconfig_path }}"
    release_name: cilium  # Release name
    release_namespace: kube-system
    create_namespace: false
    chart_ref: "cilium/cilium" # OCI chart path
    chart_version: "1.15.6" # Chart version
    release_state: present
    values:
      ipam:
        mode: kubernetes
      kubeProxyReplacement: true
      securityContext:
        capabilities:
          ciliumAgent:
            - CHOWN
            - KILL
            - NET_ADMIN
            - NET_RAW
            - IPC_LOCK
            - SYS_ADMIN
            - SYS_RESOURCE
            - DAC_OVERRIDE
            - FOWNER
            - SETGID
            - SETUID
          cleanCiliumState:
            - NET_ADMIN
            - SYS_ADMIN
            - SYS_RESOURCE
      cgroup:
        autoMount:
          enabled: false
        hostRoot: /sys/fs/cgroup
      k8sServiceHost: 192.168.254.120 # localhost
      k8sServicePort: 6443 #7445
      gatewayAPI:
        enabled: true
        enableAlpn: true
        enableAppProtocol: true