# roles/controlplane/tasks/main.yml
- name: Setup Gateway
  import_tasks: gateway.yaml
  become: true
  tags:
    - gateway

- name: install cilium CNI
  import_tasks: cilium_cni.yaml
  become: true
  tags:
    - cilium

- name: install Ceph CSI
  import_tasks: ceph_csi.yaml
  become: true
  tags:
    - ceph

# Skip this since external Ceph Storage is used
- name: Setup NFS provisioner
  import_tasks: nfs_provisioner.yaml
  become: true
  when: not (skip_tasks | default(false))
  tags:
    - nfs

- name: Setup argo-cd
  import_tasks: argocd.yaml
  become: true
  tags:
    - argocd

- name: Setup sealed-secrets
  import_tasks: sealed_secrets.yaml
  become: true
  tags:
    - sealedsecrets

- name: Setup prometheus
  import_tasks: prometheus.yaml
  become: true
  tags:
    - prometheus

- name: Setup metrics-server
  import_tasks: metrics_server.yaml
  become: true
  tags:
    - metrics-server

- name: Setup keycloak
  import_tasks: keycloak.yaml
  become: true
  tags:
    - keycloak

- name: Setup Certmanager
  import_tasks: certmanager.yaml
  become: true
  tags:
    - certmanager

- name: Setup metallb
  import_tasks: metallb.yaml
  tags:
    - metallb

- name: Setup kube-vip
  import_tasks: kube_vip.yaml
  when: not (skip_tasks | default(false))
  tags:
    - kube-vip

- name: Setup Istio
  import_tasks: istio.yaml
  become: true
  tags:
    - istio

# Skip these since Istio is used
- name: Setup linkerd
  import_tasks: linkerd.yaml
  become: true
  when: not (skip_tasks | default(false))
  tags:
    - linkerd

- name: Setup Gateway
  import_tasks: gateway.yaml
  become: true
  when: not (skip_tasks | default(false))
  tags:
    - gateway
