- name: Check istioctl
  command: istioctl version --remote=false
  register: istioctl_check
  ignore_errors: true
  changed_when: false


- name: Download Istio
  get_url:
    url: "https://github.com/istio/istio/releases/download/{{ istio_version }}/istio-{{ istio_version }}-linux-amd64.tar.gz"
    dest: /tmp/istio.tar.gz
  when: istioctl_check.rc != 0


- name: Extract Istio
  unarchive:
    src: /tmp/istio.tar.gz
    dest: /tmp
    remote_src: true
  when: istioctl_check.rc != 0


- name: Install istioctl
  copy:
    src: "/tmp/istio-{{ istio_version }}/bin/istioctl"
    dest: "{{ k8s_tools_install_dir }}/istioctl"
    mode: '0755'
    remote_src: true
  become: "{{ k8s_tools_become }}"
  when: istioctl_check.rc != 0