- name: Check kustomize
  command: kustomize version --short
  register: kustomize_check
  ignore_errors: true
  changed_when: false


- name: Download kustomize
  get_url:
    url: "https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2F{{ kustomize_version }}/kustomize_{{ kustomize_version }}_linux_amd64.tar.gz"
    dest: /tmp/kustomize.tar.gz
  when: kustomize_check.rc != 0


- name: Extract kustomize
  unarchive:
    src: /tmp/kustomize.tar.gz
    dest: /tmp
    remote_src: true
  when: kustomize_check.rc != 0


- name: Install kustomize
  copy:
    src: /tmp/kustomize
    dest: "{{ k8s_tools_install_dir }}/kustomize"
    mode: '0755'
    remote_src: true
  become: "{{ k8s_tools_become }}"
  when: kustomize_check.rc != 0