- name: Install python3-pip # plugin kubernetes.core.k8s requirement
  apt:
    name: 
      - python3
      - python3-venv
      - python3-pip
    state: present
    update_cache: yes  # Optional: Updates package cache before installing

- name: Ensure pip is installed (alternative)
  raw: test -e /usr/bin/pip3 || (apt update && apt install -y python3-pip)

- name: Create a virtual environment
  command: python3 -m venv {{ venv_path }}
  args:
    creates: "{{ venv_path }}"

- name: install pre-requisites
  pip:
    virtualenv: "{{ venv_path }}"
    name:
      - openshift
      - pyyaml
      - kubernetes 