---
# file: playbook.yaml

- hosts: localhost
  gather_facts: false 
  tasks:
    - name: Check mandatory variables imported from Terraform
      assert:
        that:
          - tf_controlplane_ip is defined
          - tf_worker_ip is defined
          - tf_ansible_control_node_ip is defined
        fail_msg: "tf_* variable usually defined in './ansible/tf_ansible_vars_file.yaml' is missing"

- import_playbook: ansible_control_node.yaml
  when: not (skip_tasks | default(false))
  tags: ansible_control_node

- import_playbook: kubernetes_tools.yaml
  tags: kubernetes_tools

- import_playbook: load_balancers.yaml
  tags: load_balancers

- import_playbook: nfs_server.yaml
  when: not (skip_tasks | default(false))
  tags: nfs

- import_playbook: kubernetes_essentials.yaml
  tags: essentials

- import_playbook: setup_applications.yaml
  when: not (skip_tasks | default(false))
  tags: apps
